.label{
    padding: 10px;
    margin: 10px;

}
#text{
    text-align: center;
    margin-left: 30%;

}
.ui-inputfiel{
     margin-left: 10%;
}
#body
{
    width: 100%;
    height:100%;
    margin: 0;
    background: url(../img/banner-img.png);
}