<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">

    <body>

        <ui:composition template="./Template/plantilla.xhtml">
            <ui:define name="content">
                <div style="background: url(../img/banner-img.png); width: 100%;
                height:100%;
                margin: 0;">
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <div style="margin-left:40%">  
                <img src="../img/institucion.png" width="400" height="100" alt="institucion"/>
                </div>
                <br/>
                <br/>
                <br/>
                 <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                 <br/>
                 <br/>
                <br/>
                <br/>
                 <br/>
                 <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                </div>    
            </ui:define>
        </ui:composition>

    </body>
</html>
