<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body style="background:#131a21;text-align:center">
        <div style="margin-left: 40%;margin-top: 15%">
            <p:growl id="mensajes" showDetail="true" life="2000" />
            <h:form>
                <p:panel header="Login" style="width:335px; background-color:rgb(0,0,0); opacity:0.5">
                    <h:panelGrid columns="2" cellpadding="5">
                        <h:outputLabel for="username" value="Usuario:"  style="color: #ffffff"/>
                        <p:inputText value="#{iniciar.usuario}" id="username"
                                     required="true" label="username" />
                        <h:outputLabel for="password" value="Clave:" style="color: #ffffff" />
                        <p:password value="#{iniciar.clave}" id="password" required="true"
                                    label="password"  />
                        <f:facet name="footer">
                            <p:commandButton id="loginButton" value="Iniciar Sesión"
                                             action="#{iniciar.iniciarSesion()}" update=":mensajes"
                                             oncomplete="manejarLogin(xhr, status, args)" style="margin-top:20px;" />
                        </f:facet>
                    </h:panelGrid>
                </p:panel>
            </h:form>
        </div>
    </h:body>

    <script type="text/javascript">
        //<![CDATA[
        function manejarLogin(xhr, status, args) {
            if (!args.validationFailed && args.estaLogeado) {
                setTimeout(function () {
                    window.location = args.view;
                }, 500);
            }
        }
        //]]>
    </script>
</html>

