<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">

    <body >
        <p:growl id="msg" globalOnly="true"></p:growl>
        <ui:composition template="./Template/plantilla.xhtml">
            <ui:define name="content">
                <h:form id="frmRegistrarCliente"  enctype="multipart/form-data">

                    <div id="text" style="margin-left: 37%; margin-top: 5%">
                        <div class="label">
                            <h:outputLabel for="txtcedula" value="CEDULA: "></h:outputLabel>
                            <p:inputText id="txtcedula" value="#{clienteBean.cedula}" required="true" requiredMessage="Falta cédula" maxlength="10" onkeypress="if((event.which &lt; 48 || event.which &gt; 57) ) return false;" style="margin-left: 20px"></p:inputText>
                            <p:message for="txtcedula"/>
                            <br/>
                        </div>
                        <div  class="label">
                            <h:outputLabel class="label" for="txtnombre"  value="NOMBRES: "></h:outputLabel>
                            <p:inputText id="txtnombre" value="#{clienteBean.nombre}" required="true" requiredMessage="Falta nombre" style="margin-left: 10px"></p:inputText>
                            <p:message for="txtnombre"/>
                            <br/>
                        </div>
                        <div  class="label">
                            <h:outputLabel class="label" for="txtapellido" value="APELLIDOS: " ></h:outputLabel>
                            <p:inputText id="txtapellido" value="#{clienteBean.apellido}" required="true" requiredMessage="Falta apellido" style="margin-left: 5px"></p:inputText>
                            <p:message for="txtapellido"/>
                            <br/>
                        </div>
                        <h:outputLabel class="label" for="txtgenero" value="GENERO: "></h:outputLabel>
                        <p:selectOneMenu id="cmbGenero" value="#{clienteBean.genero}" style="margin-left: 20px">
                                <f:selectItem itemLabel="Seleccione ..." itemValue="" />
                                <f:selectItem itemLabel="Hombre" itemValue="H" />
                                <f:selectItem itemLabel="Mujer" itemValue="M" />
                                <f:selectItem itemLabel="LGBT" itemValue="LG" />
                            </p:selectOneMenu>
                        <br/>
                        <br/>
                         <div  class="label">
                            <h:outputLabel class="label" for="txtdireccion" value="DIRECCION: "></h:outputLabel>
                            <p:inputTextarea id="txtdireccion" value="#{clienteBean.direccion}" required="true" requiredMessage="Falta dirección"></p:inputTextarea>
                            <p:message for="txtdireccion"/>
                            <br/>
                            <br/>
                        </div>
                    </div>
                    <div>
                        <p:commandButton value="Agregar usuario" style="
                                         border: 1px solid #2e518b; 
                                         padding: 1px;
                                         background-color: #FF0000; 
                                         color: #FFFFFF;
                                         text-decoration: none;
                                         border-radius: 6px;
                                         text-transform: uppercase; 
                                         float: left;
                                         margin-left: 42%;
                                         margin-bottom:5%;
                                         margin-top: 2%;" actionListener="#{clienteBean.registrarCliente()}" update=":msg" ajax="false">

                        </p:commandButton>
                    </div>
                </h:form>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                 <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>
                <br/>  
            </ui:define>
        </ui:composition>
    </body>
</html>
