<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="../resources/css/cssLayout.css"/>
        <link rel="stylesheet" href="../resources/css/default.css"/>
        <!--<h:outputStylesheet name="resources/css/default.css"/>
        <h:outputStylesheet name="resources/css/cssLayout.css"/>-->
        <title>Banamex</title>
    </h:head>
    <h:body>
        <div id="top">
            <ui:insert name="top"></ui:insert>
            <img src="../img/institucion.png" width="400" height="100" alt="institucion"/>
            <div id="menuBar">
                <h:form>  
                    <p:growl id="messages"/>
                    <p:menubar id="menu" styleClass="afaires">
                        <p:submenu label="Inicio" icon="pi pi-file">
                            <p:menuitem value="Ir a Inicio" url="http://localhost:8080/proyecto/faces/Inicio.xhtml" />
                            <p:separator />
                            <p:menuitem value="Cerrar Sesión" url="http://localhost:8080/proyecto/faces/login.xhtml" />
                        </p:submenu>
                        <p:submenu label="Usuario" icon="pi pi-pencil">
                              <p:menuitem value="Nuevo Cliente" url="http://localhost:8080/proyecto/faces/Users.xhtml" />
                              <p:separator />
                              <p:menuitem value="Certificados" url="http://localhost:8080/proyecto/faces/Certificados.xhtml" />
                        </p:submenu>
                        <p:submenu label="Creditos" icon="pi pi-question">
                              <p:menuitem value="Ingresar Credito" url="http://localhost:8080/proyecto/faces/Credito.xhtml" />
                              <p:separator />
                              <p:menuitem value="Ingresar Pagos" url="http://localhost:8080/proyecto/faces/Pagos.xhtml" />
                        </p:submenu>
                    </p:menubar>
             </h:form>
            </div>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content" id="body"></ui:insert>
        </div>
         <footer id="bottom">
            <small> Bryan Mendoza, Fabricio Baños, Javier Chamba, Jose Valencia </small> <br/>
            <small>Todos los derechos reservados 2020</small>
        </footer>
    </h:body>

</html>
